<h1 id="tableLabel">Tasks</h1>

<p *ngIf="!tasks"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="tasks">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Added</th>
      <th>DeadLine</th>
      <th>Importance</th>
      <th>State</th>
      <th>ClosedAt</th>
      <th>Number Of Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }}</td>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.added }}</td>
      <td>{{ task.deadLine }}</td>
      <td>{{ task.importance }}</td>
      <td>{{ task.state }}</td>
      <td>{{ task.closedAt }}</td>
      <td>{{ task.numberOfComments }}</td>
    </tr>
  </tbody>
</table>
