<mat-form-field>
  <mat-label>Filter</mat-label>
  <label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
  </label>
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z15">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
    <td mat-cell *matCellDef="let task"> {{task.id}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let task"> {{task.title}} </td>
  </ng-container>

  <ng-container matColumnDef="added">
    <th mat-header-cell *matHeaderCellDef> Added </th>
    <td mat-cell *matCellDef="let task"> {{'2020-06-13'}} </td>
  </ng-container>

  <ng-container matColumnDef="deadline">
    <th mat-header-cell *matHeaderCellDef> Dead Line </th>
    <td mat-cell *matCellDef="let task"> {{'2020-06-13'}} </td>
  </ng-container>

  <ng-container matColumnDef="importance">
    <th mat-header-cell *matHeaderCellDef> Importance </th>
    <td mat-cell *matCellDef="let task"> {{task.importance}} </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> State </th>
    <td mat-cell *matCellDef="let task"> {{task.state}} </td>
  </ng-container>

  <ng-container matColumnDef="closedAt">
    <th mat-header-cell *matHeaderCellDef> ClosedAt </th>
    <td mat-cell *matCellDef="let task"> {{'2020-06-13'}} </td>
  </ng-container>

  <ng-container matColumnDef="numberOfComments">
    <th mat-header-cell *matHeaderCellDef> Comments </th>
    <td mat-cell *matCellDef="let task"> {{task.numberOfComments}} </td>
  </ng-container>

  <ng-container matColumnDef="operations">
    <th mat-header-cell *matHeaderCellDef> Operations </th>
    <td mat-cell *matCellDef="let task">
      <button mat-button color="primary" [routerLink]="['/task-details', task.id]">
        <mat-icon>add</mat-icon>More</button>
      <button mat-button color="accent" [routerLink]="['/task-edit', task.id]">
        <mat-icon>edit</mat-icon>Edit</button>
      <button mat-button color="warn" (click)="deleteTaskEvent.emit(task)">
        <mat-icon>delete_forever</mat-icon>Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
