<h1 id="tableLabel">Task information</h1>

<button class="btn btn-info mb-3" routerLink="/tasks">Back</button>
<div id="alert" class="alert alert-success" role="alert" *ngIf="successSaved">
  Task was saved successfully!
</div>
<form [formGroup]="taskForm" autocomplete="off">

  <label for="title">Title</label>
  <input class="form-control"
         formControlName="title" id="title"
         name="title" type="text"
  />

  <label for="description">Description</label>
  <textarea class="form-control" formControlName="description" id="description"
            name="description" type="text"></textarea>

  <label for="added">Added</label>
  <input class="form-control" formControlName="added" id="added"
         name="added" type="datetime-local">

  <label for="deadline">Deadline</label>
  <input class="form-control" formControlName="deadline" id="deadline"
         name="deadline" type="datetime-local">

  <label for="importance">Importance</label><br>
  <select class="form-control" formControlName="importance" name="importance" id="importance">
    <option value="High">High</option>
    <option value="Low">Low</option>
    <option value="Medium">Medium</option>
  </select>

  <label for="state">State</label><br>
  <select class="form-control" formControlName="state" name="state" id="state">
    <option value="Open">Open</option>
    <option value="InProgress">In Progress</option>
    <option value="Closed">Closed</option>
  </select>

  <button type=submit (click)="onSubmit()" class="btn btn-primary mt-3">Create Account <i class="fa fa-spinner fa-spin"
                                                                                          *ngIf="loading"></i></button>
</form>
