<h1>Task Details</h1>

<mat-spinner *ngIf="!taskDetails.task"></mat-spinner>
<button class="btn btn-info mb-5" routerLink="/tasks">Back</button>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="taskDetails">
  <thead>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Added</th>
    <th>DeadLine</th>
    <th>Importance</th>
    <th>State</th>
    <th>ClosedAt</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ taskDetails.task.id }}</td>
    <td>{{ taskDetails.task.title }}</td>
    <td>{{ taskDetails.task.description }}</td>
    <td>{{ taskDetails.task.added }}</td>
    <td>{{ taskDetails.task.deadline }}</td>
    <td>{{ taskDetails.task.importance }}</td>
    <td>{{ taskDetails.task.state }}</td>
    <td>{{ taskDetails.task.closedAt }}</td>
  </tr>
  </tbody>
</table>

<div *ngIf="!taskDetails.comments" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading comments...</span>
  </div>
</div>

<h1 id="commentsLabel" *ngIf="taskDetails.comments.length != 0">Comments</h1>
<button class="btn btn-primary mb-3" data-toggle="modal" data-target="#commentModal">Add new comment</button>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="taskDetails.comments.length != 0">
  <thead>
  <tr>
    <th>Id</th>
    <th>Content</th>
    <th>Important</th>
    <th>Operations</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let comment of taskDetails.comments">
    <td>{{ comment.id }}</td>
    <td>{{ comment.text }}</td>
    <td>
      <mat-slide-toggle [(ngModel)]="comment.important" (change)="editComment(comment)" class="mt-2"></mat-slide-toggle>
    </td>
    <td>
      <button mat-icon-button data-toggle="modal" data-target="#commentModal">
        <mat-icon>more_vert</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteComment(comment.id)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<!-- Comment Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="commentForm" autocomplete="off">
          <label for="text">Text</label>
          <textarea class="form-control" formControlName="text" id="text"
                    name="text" type="text"></textarea>
          <mat-slide-toggle formControlName="important" class="mt-2">Important</mat-slide-toggle>
        </form>
      </div>
      <div class="modal-footer">
        <button id="closeModalButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type=submit (click)="onSubmit()" class="btn btn-primary">Save <i class="fa fa-spinner fa-spin"
                                                                                    *ngIf="loading"></i></button>
      </div>
    </div>
  </div>
</div>
